<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anidates: You Borked the Server!</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap"
      rel="stylesheet"
    />
    <link href="/static/bundle.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.1/dist/web3.min.js" integrity="sha384-mO0rZLA298ttkV/47/KBl99eDPOJ8HxiPJP6OeLv0F9HwTlL7JMQqhX14VfpIFEc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="banner grid">
      <div class="row">
        <section class="nav-link col-lg-2 col-sm-4 col-xs-6">
          <a href="/"><img src="/static/images/heading-logo.png" class="img-fluid heading-logo" /></a>
        </section>
      </div>
    </header>

    <main class="flex-shrink-0">
      <div class="container grid">
        <div class="center col-lg-4 text-center">
            <h1>Sorry, an error occured. Try going back to the homepage.</h1>
            </div>
            </div>
    </main>
    <footer class="footer mt-auto py-3">
      Coming soon... relyt29 on twitter, Relyt#0542 on discord
    </footer>
  </body>
</html>
